<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-profile></app-profile>
    <form #userlogin="ngForm">
      <ion-list> 
          
        <ion-item class="item-label item ios in-list ion-focusable hydrated" *ngFor="let i of tests">
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
            <h2>{{i.number}}. {{i.question}} </h2> 
            
            
            <ion-list >
                <ion-radio-group  name="radio-group"> 
                    <ion-item *ngFor="let row of i.answers; let idx = index;" class="item item-text-wrap">
                        <label style="padding-right:10px;">{{ row.label }}</label> <ion-label text-wrap  [innerHTML]="row.value"> </ion-label>
                        <ion-radio
                          (ionSelect)='onSelected(row)'
                          slot="start" 
                          name='answers{{row.id}}' 
                          value="{{row.id}}" >
                        </ion-radio>
                    </ion-item>
                </ion-radio-group>
              </ion-list> 

          </ion-label>
          
          
        </ion-item> 
      </ion-list>
      <ion-card style="margin-bottom: 100px;">
          <ion-button  (click)="onSubmit()" type='submit' expand="block" class="ios button button-block button-solid ion-activatable ion-focusable hydrated">บันทึก</ion-button>
    </ion-card>
      
    </form>
</ion-content>
 