<ion-content>
<div style="

background: #030101 url()no-repeat 61% -15px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    /* background-size: contain; */
    height: 100%;
">

<form #form="ngForm"  style="padding-top:27%;
padding-left: 20%;
padding-right: 20%;">
       
       
        <div>
            <h2 style="color:#fff;text-align: center;">Login</h2>
          <label style="color:#fff;">Username</label>
          <ion-input style="color:#fff;border: 1px solid #acacb7;" name="username" type="text" placeholder="Username" ngModel required></ion-input>
        </div>

        <div style="margin-top:5px;">
            <label style="color:#fff;">Password</label>
          <ion-input style="color:#fff;border: 1px solid #acacb7;" name="password" type="password" placeholder="Password" ngModel required></ion-input>
        </div>

       <div style="text-align: center;">
         <img (click)="Login(form)" src="../../assets/images/btn_login.jpg" style=" margin-top: 10px;
         width: 70%;
         height: 45px;" >
       </div> 
      
  </form> 

</div>
 
  </ion-content>