<ion-content style=""> 
  <div style=" 
  /* background image */
  background:black;
  /* background: url(../../assets/images/start.jpg) no-repeat center center fixed;  */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 100%;
  ">
  <div style=" position: fixed;bottom: 10px;width: 100%;text-align: center;">
    <!-- buttoไปหน้า login -->
    <img (click)="goToLesson()" src="../../assets/images/btn_start.jpg">
  </div> 
    
  </div>  
</ion-content>  