<ion-header >
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>บทเรียน</ion-title>
  </ion-toolbar>
</ion-header>
   
<ion-content>
    <div style="
    background:black;
    /* background:#030101 url(../../assets/images/lesson.jpg)no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: contain;
    height: 100%;
    margin-top: -9px;
    padding:10px;
">
<ion-list>

    <ion-list-header>
      <ion-label><h2>บทเรียน</h2></ion-label>
    </ion-list-header>

    <ion-item class="item-label item ios in-list ion-focusable hydrated" *ngFor="let i of lessons" (click)="lessonDetail(i)">
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2><ion-icon name="book"></ion-icon> {{i.name}}</h2> 
      </ion-label>
    </ion-item>
  </ion-list>
</div> 
  
</ion-content>
