.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.text-center{
  text-align: center;
}
* {
  box-sizing: content-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}